<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corral.mityc">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/surtidor_icono"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- El splash activity evita que el usuario se perciba del ColdStart -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MitycRubi"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".NuevaPoblacion">
        </activity>

        <service
            android:name=".servicios.LocationPoblacionCentroIntentService"
            android:exported="false" />


        <!-- release key ==== gasolinaRubi ========================== -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />


    </application>

</manifest>
